version: '3.8'

services:
  sql-server:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql_dev
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=TwojeSilneHaslo123!
    ports:
      - "1433:1433"
    volumes:
      # ZMIANA 1: Używamy wolumenu Dockera dla samej bazy (rozwiązuje problem crasha)
      - sql_data_vol:/var/opt/mssql
      
      # ZMIANA 2: Mapujemy folder na dysku TYLKO do backupów (do przenoszenia danych)
      - ./moje_backupy:/var/opt/mssql/backup
    restart: always

# Definicja wolumenu
volumes:
  sql_data_vol: